

section {
  background-color: whitesmoke;
  border-radius: 6px;
  border: 2px solid grey;
  width: 40vw;
  height: 100vh;
  margin: 16px 0 16px 0;
  overflow-x: clip;
}

#left-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#right-menu {
  flex: 1;
}

#center {
  flex: 2;
  background-color: white;
  overflow-x: hidden;
}

#todo_title {
  padding: 4px;
  background-color: #195679;
  color: #fff;
}

#day-title {
  padding: 4px;
  background-color: #195679;
  color: #fff;
}

.note {
  height: fit-content;
  width: 98%;
  padding: 6px;
  margin: 2px;
  border: 1px solid grey;
  background-color: white;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
  
}

.n-title {
  font-weight: bold;
}

.n-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: auto;
}

.n-text {
  flex: 4;
}

.n-other {
  font-size: .75em;
  font-style: italic;
  color: gray;
  padding-left: 1em;
}



.dot-filled {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  margin: auto;
}

.dot-empty {
  height: 25px;
  width: 25px;
  border: 2px solid #bbb;
  border-radius: 50%;
  margin: auto;
}

.dot-empty:hover {
  background-color: #bbb;
  border-radius: 50%;
}

#add-note {
  opacity: 75%;
  height: 25px;
  width: 25px;
}

.card {
  display: flex;
  flex-direction: row !important;
  padding-right: 16px;
}

.card-body {
  flex: 3;
  width: 100%;
}

.card-text {
  font-style: italic;
  color: gray;
}

.title {
  margin-top:8px;
  align-self: center;
}

#title-wrapper {
  z-index: 10;
}

#sum-img {
  width: 100%;
  height: auto;
  margin-top: 12px;
  opacity: 70%;
  border-top: 2px solid grey;
}

.time-list {
  padding: 0 0 2px 6px;
  font-size: 12px;
}

hr {
  margin: 2px 0 !important;
}

.spacer {
  height: 40px;
  width: 100%;
}

.calendar {
  margin-bottom: auto;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
  }
  .month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 5px;
  text-align: center;
  background-color: #195679;
  color: #fff;
  }
  .weekdays {
  background-color: #195679;
  color: #fff;
  padding: 2px 0;
  display: flex;
  }
  .days {
    font-weight: 100;
    padding: 1px 0;
    display: flex;
    flex-wrap: wrap;
  }
  .weekdays div,
  .days div {
    text-align: center;
    width: 14.28%;
  }
  .days div {
    padding: 2px 0;
    margin-bottom: 2px;
    transition: all 0.4s;
  }
  .prev_date {
    color: #999;
  }
  .today {
    background-color: #195679;
    color: #fff;
  }
  .days div:hover {
    cursor: pointer;
    background-color: #dfe6e9
  }
  .prev,
  .next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
  .prev:hover,
  .next:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
  }
  #month {
    font-size: 20px;
    font-weight: 200;
  }