@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Open+Sans+Condensed:ital,wght@1,300&display=swap');

html {
  overflow-x: hidden;
  min-height: 100%;
}

body {
  height: 140vw;
}

.quote {
  margin: auto 0;
  text-align:justify;
  height: fit-content;
  max-height: 25vw;
  flex: content;
  padding: 0 calc(6px + 2vw);
  font-size: calc(6px + 1.5vw);
  font-family: 'Open Sans Condensed';
  overflow-y: hidden;
  color: #333333;
  opacity: 75%;

  background-image: url('/assets/quote_transparent.png');
  background-size: 3vw;
  background-position:bottom right 4vw;
  background-repeat: no-repeat;
}

#nav-wrapper {
  grid-area: header;
  display: inline-block;
  margin-bottom: 2em;
}

#nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(46, 65, 116);
  border: 2px solid #333333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 2vw;
  z-index: 100;
}

section {
  border: 2px solid #333333;
  width: 90%;
  height: 25vw;
  display: flex;
  z-index: 10;
  background: rgba(207, 207, 200, 0.74);

  -webkit-box-shadow: 23px 18px 17px 1px rgba(0,0,0,0.46); 
  box-shadow: 23px 18px 17px 1px rgba(0,0,0,0.46);
}

@media screen and (max-width: 600px) {

  body{
    height: 300vw;
  }
  .quote {
    display: none;
  }

  section {
    height: 200px !important;
  }

  .sect_container {
    height: 200px !important;
  }

  .title {
    top: 15vw !important;
  }

  .sect_img_left {
    border-left: 2px solid #333333 !important;
  }
  
  .sect_img_right {
    border-right: 2px solid #333333 !important;
  }

  .right:hover {
    transform: translateX(35vw) !important;
  }
  
  .left:hover {
    transform: translateX(-35vw) !important;
  }

  .img-md {
    width: 80vw !important;
    height: 50vw !important;
  }

  .v-img-md {
    width: 50vw !important;
    height: 80vw !important;
  }
}

.right:hover {
  transform: translateX(25vw);
  transition: 1s;
  transition-delay: .25s;
}

.left:hover {
  transform: translateX(-25vw);
  transition: 1s;
  transition-delay: .25s;
}

.right {
  right: 0;
  align-self: end;
  border-right: none;
  border-radius: 8px 0 0 8px;
  transition: 1s;
  margin-left: auto;
}

.left {
  left: 0;
  align-self: start;
  border-left: none;
  border-radius: 0 8px 8px 0;
  transition: 1s;
  flex-direction: row-reverse;
  margin-right: auto;
}

.sect_img {
  flex: auto;
  min-width: 45vw;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: inherit;
  background-position: center;
}

.sect_img_left {
  border-left: 6px solid #333333;
  border-radius: 0 6px 6px 0;
}

.sect_img_right {
  border-right: 6px solid #333333;
  border-radius: 6px 0 0 6px;
}

#timp {
  background-image: url("/assets/timp-small.png");
}

#provo-city-center {
  background-image: url("/assets/cc-small2.png");
}

#payson {
  background-image: url("/assets/p2_small.png");
}

#misc {
  background-image: url("/assets/sp_small.png");
}

.nav_item {
  float: left;
}

.nav_item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: calc(12px + 1vw);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav_item a:hover {
  background-color: rgb(33, 39, 49);
}

.active {
  background-color: #04AA6D;
}

.title {
  font-size: calc(12px + 2vw);
  font-weight: bolder;
  font-family: cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 6em;
  text-align: center;
  top: 8vw;
  position: absolute;
  z-index: -1;
  color: black;
}

.title_left {
  left: 10vw;
}

.title_right {
  right: 10vw;
}

.sect_container {
  height: 25vw;
  position: relative;
  margin: 2em 0;
  display: grid;
}

.sect_link {
  text-decoration: none;
  color: inherit;
}

#content {
  height: 100vh;
}

#hello-block {
  width: 100%;
  border: none;
  box-shadow: none;
  max-height: 10vh;
}

#hello-block > p {
  text-align: center;
  vertical-align: middle;
  margin: auto;
  padding: 0 calc(6px + 2vw);
  font-size: calc(6px + 1.5vw);
  font-family: 'Open Sans Condensed';
  width: 75%;
  color: #333333;
  opacity: 75%;
}

.img-md {
  width: 400px;
  height: 300px;
}

.v-img-md {
  width: 300px;
  height: 400px
}


.ratings i {
  color: #cecece;
  font-size: 32px
}

.rating-color {
  color: #fbc634 !important
}
